body {
    background-color: #1f2937;
    font-family: "roboto", sans-serif;
}


h2 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}


.container1,
.container2,
.container3,
.container4,
.container5 {
    margin-left: 100px;
    margin-right: 100px;
}


.container1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #1f2937;
    margin-left: 100px;
    margin-right: 100px;
}

.container2 {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 50px;
}


.container3{
    background-color: white;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.images {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}



.text {
    max-width: 200px;
}

.container4{
    background-color: #E5E7EB;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#author {
  padding-left: 700px;
}

#quote {
    font-style: italic;
}

.container5 {
    background-color: white;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.container55 {
    max-width: 900px;
    max-height: 300px;
    background-color: #3882F6;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 300px;
    padding-left: 300px;
    display: flex;
    gap: 100px;
}

.container5_2 {
    display: flex;
    align-items: center;
}

.container6 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: auto;
    padding-top: 10px;
}

button {
    border-radius: 4px;
    background-color: #3882F6;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

}

#button_two {
    border-color: white;
}

#button_one {
    border: none;
}